<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--允许程序获取网络信息状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET"/>


<!--    &lt;!&ndash;照相机&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    &lt;!&ndash;麦克风&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
    <application
        android:name=".MyApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/home_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/home_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyBed"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dywl.familybed.MainFamilyBed"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name="com.dywl.familybed.AccountManagerActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <service
            android:name=".service.JobSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <activity
            android:name="com.dywl.familybed.DailyReportingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.dywl.familybed.TodayMedicationActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>